@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

html {
  font-size: 16px;
}

body {
  background-color: rgb(243, 236, 236);
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.container {
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}

.regexp-input {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  outline: none;
}

.regexp-input:hover {
  border-color: #aaa;
}

.regexp-input:focus {
  border-color: blue;
}

#regexp {
  width: 100%;
  height: 3rem;
}

.sample {
  display: flex;
  margin-bottom: 10px;
}

.sample input {
  /* width: 100%; */
  flex-grow: 1;
}

.answer {
  margin-left: .4rem;
  width: 7rem;
  height: 2.1rem;
  border: 2px solid black;
  border-radius: 4px;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.no-match {
  background-color: rgb(219, 5, 5);
  border-color: rgb(180, 5, 5);
}

.match {
  background-color: rgb(9, 119, 9);
  border-color: rgb(10, 95, 10);
}